/* Точки перехода */

$desktop-width: 1920px;
$mobile-width: 320px;

/* Параметры для Retina */

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* Цвета */

$color-white: #ffffff;
$color-black: #000000;
